*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(-45deg, #dfdfdf, #c2c2c2, #b3b3b3, #a1a1a1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator-grid {
  display: grid;
  gap: 10px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(200, 200, 200);
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  font-size: 2rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.calculator-grid > #clear {
  background-color: lightskyblue;
}

.calculator-grid > #clear:hover {
  background-color: rgba(135, 206, 250, 0.59);
}

.calculator-grid > #delete {
  background-color: lightcoral;
}

.calculator-grid > #delete:hover {
  background-color: rgba(240, 128, 128, 0.5);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1; /* Start: column 1, end: last column */
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 2.5rem;
}
